@page
@model Project_ITLab.Areas.Identity.Pages.Account.LoginModel

@{
    ViewData["Title"] = "Log in";
}

@*<<h1>@ViewData["Title"]</h1>
    div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to log in.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0) {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    } else {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins) {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*<form method="post">
        <div asp-validation-summary="All" asp-route-returnUrl="@Model.ReturnUrl"></div>
        <div class="form-group">
            <label asp-for="Input.Username"></label>
            <input asp-for="Input.Username" class="form-control" />
            <span asp-validation-for="Input.Username" class="text-danger"></span>

            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>*@



<div class="row" id="loginScherm">
    <div class="col-sm-4 col-sm-offset-4 form-box">
        <div class="form-top">


            <div class="form-top-left">
                <p>Elke webapplicatie van de hogeschool waarvoor je moet inloggen, stuurt je door naar deze inlogpagina. Al is deze enkel bedoeld voor het ITLab project.</p>

            </div>
            <div class="form-top-right">
                <i class="icon-lock"></i>
            </div>


        </div>
        <div class="form-bottom">



            <form name="external_data_post_cls1" role="form" action="" method="post" class="login-form" autocomplete="off">
                <div class="form-group">
                    <label class="sr-only" asp-for="Input.Username">Gebruikersnaam</label>
                    <input type="text" placeholder="Gebruikersnaam of e-mailadres..." asp-for="Input.Username" class="form-username form-control" id="form-username" autocomplete="off" autocapitalize="off">
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="sr-only" asp-for="Input.Password">Wachtwoord</label>
                    <input asp-for="Input.Password" placeholder="Wachtwoord..." class="form-password form-control" autocomplete="off" autocapitalize="off">
                </div>
                <button type="submit" class="btn" name="inloggen">Inloggen</button>
            </form>
            <div class="row">
                <div class="col-sm-8">
                </div>
                <div class="col-sm-4" style="padding:25px 25px 0 0">
                    <div class="pull-right">
                        <img src="https://login.hogent.be/assets/img/HOGENT_Logo.png" alt="HoGent logo">
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
